
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

.container-centered{
  display: flex;
  width: 100%;
  min-height: calc(100vh - 70px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.card{
  width: 500px;

  &-header{
    a{
      color: white;
    }
  }
}

.form{
  &-submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.preview{

  > div{
    padding: 20px;
  }
  .img{
    &-wrapper{
      position: relative;

      &:hover{
        .img-cover{
          display: flex;
        }
      }
    }

    &-cover{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      justify-content: center;
      align-items: center;
    }
  }
  img{
    width: 100%;
  }
}